* {
    padding: 0;
    margin: 0;
}

$dark-primary-color: #4e4e4e;
$light-primary-color: #f0f8ff;

@mixin basicFlexStyles() {
    display: flex; 
    align-items: center;
    justify-content: center;
}

body {
    font-family: 'Fredoka', sans-serif;
    height:100vh;
    background: $light-primary-color;
    color: $dark-primary-color;
    display:flex; 
    flex-direction:column; 
}

button {
    border-radius: 25px;
    font-family: 'Fredoka', sans-serif;
    border: none;
    cursor: pointer;
}

#title {
    text-align: center;
    margin: 20px;
    font-size: 70px;
    font-weight: 500;
}

#home {
    display: flex;
    justify-content: center;
    margin-top: 120px;

    #setShipsGameboard {
        width: 500px;
        height: 500px;
        margin-right: 100px;
        border: 1px solid $dark-primary-color;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        .square {
            border: 1px solid $dark-primary-color;
        }
        .carrier {
            background-color: #a8e6cf   !important;
        }
        .battleship {
            background-color: #dcedc1   !important;
        }
        .destroyer {
            background-color: #ffd3b6   !important;
        }
        .submarine {
            background-color: #ffaaa5   !important;
        }
        .patrol-boat {
            background-color: #ff8b94 !important;
        }
    }

    #sideOptions {
        display: flex;
        align-items: center;
        flex-direction: column;

        #instructionsDisplay {
            color: $light-primary-color;
            width: 250px;
            height: 100px;
            @include basicFlexStyles();
            background-color: $dark-primary-color;
            border-radius: 25px;
            font-size: 20px;
            padding: 5px;
            font-weight: 500;
        }

        .start {
            background-color: #ffdddd !important;
            color: #000000 !important;
        }

        .start:hover {
            background-color: #ffc2c2 !important;
            cursor: pointer;
        }

        .start:active {
            background-color: #ffaaaa !important;
        }

        .changingDisplay {
            display: inline-block;
            overflow: hidden;
            animation: typing 2s steps(25, end);
            white-space: nowrap;
            box-sizing: border-box;
        }

        @keyframes typing {
            from { 
                width: 0% 
            }
            to { 
                width: 100% 
            }
        }

        button {
            width: 200px;
            height: 50px;
            margin-top: 25px;
            background-color: #d1d1d1;
            font-size: 20px;
        }

        button:hover {
            background-color: #bfbfbf;
        }

        button:active {
            background-color: #5d5d5d;
        }
    }
}

#game {
    display: none;
    flex-direction: column;
    align-items: center;

    #turnDisplay {
        font-size: 35px;
        font-weight: 600;
        margin: 20px;
        padding-top: 16px;
        background-color: #cacaca;
        border-radius: 25px;
        width: 500px;
        height: 70px;
        text-align: center;
    }

    .changingDisplay {
        display: inline-block;
        overflow: hidden;
        animation: typing 2s steps(25, end);
        white-space: nowrap;
        box-sizing: border-box;
    }

    @keyframes typing {
        from { 
            width: 0% 
        }
        to { 
            width: 100% 
        }
    }

    #gameBoards {
        @include basicFlexStyles();
        align-self: center;
        #left {
            display: flex;
            flex-direction: column;
            align-items: center;
            #myBoard {
                width: 500px;
                height: 500px;
                border: 1px solid $dark-primary-color;
                display: grid;
                grid-template-columns: repeat(10, 1fr);
                grid-template-rows: repeat(10, 1fr);
                margin-right: 40px;
                .square {
                    border: 1px solid $dark-primary-color;
                    position: relative;
                    img {
                        position: absolute;
                        z-index: 1;
                    }
                }
                .vertical {
                    transform: rotate(90deg);
                    z-index: 1;
                }
                .selected {
                    background-color: #c1c1c1 !important;
                }
                .selectedHit {
                    background-color: pink !important;
                }
                .sunk {
                    background-color: red !important;
                }
            }
            #myBoardTitle {
                font-weight: 500;
                font-size: 20px;
            }
        }

        #right {
            display: flex;
            flex-direction: column;
            align-items: center;
            #AIBoard {
                width: 500px;
                height: 500px;
                border: 1px solid $dark-primary-color;
                display: grid;
                grid-template-columns: repeat(10, 1fr);
                margin-left: 40px;
                grid-template-rows: repeat(10, 1fr);
                .square {
                    border: 1px solid $dark-primary-color;
                }
                .square:hover {
                    background: rgb(173, 235, 255);
                }
            }
            #AIBoardTitle {
                font-size: 20px;
                font-weight: 500;
            }
        }
    }

    #restartGame {
        font-size: 30px;
        font-weight: 600;
        margin: 20px;
        background-color: #cacaca;
        color: $dark-primary-color;
        border-radius: 25px;
        width: 200px;
        height: 70px;
        text-align: center;
    }

    #restartGame:hover {
        background-color: #bfbfbf;
    }

    #restartGame:active {
        background-color: #5d5d5d;
    }
}


footer {
    margin-top:auto;
    height: 20px; 
    background-color: $dark-primary-color;
    padding: 10px;
    @include basicFlexStyles();
    
    a {
        color: $light-primary-color;
        text-decoration: none;
        @include basicFlexStyles();
    }

    a:hover {
        color: #cfcfcf;
    }
    
    a:active {
        color: #5d5d5d;
    }
}

#gameResult {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
  }
  
  /* Modal Content/Box */
  .modal-content {
    @include basicFlexStyles();
    font-size: 45px;
    flex-direction: column;
    background-color: #f0f8ff;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  #restartGame2 {
    font-size: 30px;
    font-weight: 600;
    margin: 20px;
    background-color: #cacaca;
    color: $dark-primary-color;
    border-radius: 25px;
    width: 200px;
    height: 70px;
    text-align: center;
}

#restartGame2:hover {
    background-color: #bfbfbf;
}

#restartGame2:active {
    background-color: #5d5d5d;
}
