* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Fredoka', sans-serif;
  height: 100vh;
  background: #f0f8ff;
  color: #4e4e4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

button {
  border-radius: 25px;
  font-family: 'Fredoka', sans-serif;
  border: none;
  cursor: pointer;
}

#title {
  text-align: center;
  margin: 20px;
  font-size: 70px;
  font-weight: 500;
}

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 120px;
}

#home #setShipsGameboard {
  width: 500px;
  height: 500px;
  margin-right: 100px;
  border: 1px solid #4e4e4e;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (1fr)[10];
      grid-template-rows: repeat(10, 1fr);
}

#home #setShipsGameboard .square {
  border: 1px solid #4e4e4e;
}

#home #sideOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#home #sideOptions #instructionsDisplay {
  color: #f0f8ff;
  width: 250px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #4e4e4e;
  border-radius: 25px;
  font-size: 20px;
  padding: 5px;
  font-weight: 500;
}

#home #sideOptions .changingDisplay {
  display: inline-block;
  overflow: hidden;
  -webkit-animation: typing 2s steps(25, end);
          animation: typing 2s steps(25, end);
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

#home #sideOptions button {
  width: 200px;
  height: 50px;
  margin-top: 25px;
  background-color: #d1d1d1;
  font-size: 20px;
}

#home #sideOptions button:hover {
  background-color: #bfbfbf;
}

#home #sideOptions button:active {
  background-color: #5d5d5d;
}

#game {
  display: none;
}

footer {
  margin-top: auto;
  height: 20px;
  background-color: #4e4e4e;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer a {
  color: #f0f8ff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer a:hover {
  color: #cfcfcf;
}

footer a:active {
  color: #5d5d5d;
}
/*# sourceMappingURL=style.css.map */